In [15]:
import pandas as pd
import seaborn
from IPython import embed
import elo_functions as elo
from matplotlib import pyplot as plt
from scipy import optimize
import numpy as np

In [16]:
matches_df = pd.read_excel("../../Data/dartsdatabase/Results2.xlsx")

In [17]:
matches_df.head()

,player_name,date,event,category,event_round,result,opponent,score
0,Michael van Gerwen,10/05/2018,Premier League,PDC U,League 10,Fixture,Gary Anderson,
1,Michael van Gerwen,06/05/2018,PDC European Darts Grand Prix,PDC ET,Final,Won,James Wade,8 V 3
2,Michael van Gerwen,06/05/2018,PDC European Darts Grand Prix,PDC ET,Semi Final,Won,Michael Smith,7 V 0
3,Michael van Gerwen,06/05/2018,PDC European Darts Grand Prix,PDC ET,Quarter Final,Won,Dave Chisnall,6 V 4
4,Michael van Gerwen,06/05/2018,PDC European Darts Grand Prix,PDC ET,Last 16,Won,Darren Webster,6 V 5

In [18]:
def outcome_map(result):
    if result == "Won":
        return 1.0
    elif result == "Lost":
        return 0.0
    else:
        return 0.5

#Drop matches that haven't yet happened
matches_df = matches_df[matches_df['result'] != 'fixture']

#Why are there some dups? Need to investigate
matches_df.drop_duplicates(inplace=True)

#Map outcomes to numerical values
matches_df['Outcome'] = matches_df['result'].apply(outcome_map)

In [19]:
#Rename columns - same as other versions
matches_df.rename(index=str, columns={"player_name": "Player 1", "opponent": "Player 2","date":"Date"},inplace=True)

matches_df['Tourn'] = matches_df['event'].str.upper()

matches_df['score'] =matches_df['score'].str.replace(' V ',':')



#Only keep relevant columns
elo_df = matches_df.loc[:,['Player 1','Player 2','Outcome','Date','Tourn','score']]

In [20]:
#Drop mirror image fixtures. Quite crude, need to check
already = []
for player_name in elo_df['Player 1'].unique():
    #Keep if - player name not current one, or rival not in 'already' group. 
    elo_df = elo_df[(elo_df['Player 1'] != player_name) | (-elo_df['Player 2'].isin(already))]
    already.append(player_name)



#Keep surname only
elo_df['Surname 1'] = elo_df['Player 1'].str.split(' ',n=1).str.get(1).str.upper().str.strip()
elo_df['Surname 2'] = elo_df['Player 2'].str.split(' ',n=1).str.get(1).str.upper().str.strip()

In [21]:
#Turn date into datetime variable
elo_df['Date'] = pd.to_datetime(elo_df['Date'])

elo_df['year'] =elo_df['Date'].dt.year

In [22]:
#Merge on odds data - quite crude.

odds_df = pd.read_excel("../../Data/oddschecker/Darts_odds.xlsx")

def convert_frac_to_prob(frac):
    if "/" in frac:
        num, denom = frac.split("/")
        return int(denom) / (int(num) + int(denom))

odds_df['p1_prob'] = odds_df['odds_1'].apply(convert_frac_to_prob)
odds_df['p2_prob'] = odds_df['odds_2'].apply(convert_frac_to_prob)

In [23]:
#clean player names
odds_df['players'] = odds_df['players'].str.replacer('O\'','O ',n=1).str.get(0)


odds_df['Player 1'] = odds_df['players'].str.split(' - ',n=1).str.get(0)
odds_df['Player 2'] = odds_df['players'].str.split(' - ',n=1).str.get(1)

odds_df['Surname 1'] = odds_df['Player 1'].str.slice(0,-2).str.upper().str.strip()
odds_df['Surname 2'] = odds_df['Player 2'].str.slice(0,-2).str.upper().str.strip()

odds_df['Tourn']=odds_df['tournament_name'].str.split('/').str.get(-1).str.replace("-"," ").str.upper()

In [24]:
#Same odds, the opposite way around
opp_df = odds_df.copy()

opp_df.rename(index=str, \
columns= {"odds_1": "odds_2", "odds_2": "odds_1","Player 1":"Player 2","Player 2":"Player 1","Surname 1":"Surname 2", \
"Surname 2":"Surname 1"},inplace=True)

#Doesn't work for games > 10.
opp_df['score']=opp_df['score'].apply(lambda x: x[::-1])

odds_df = odds_df.append(opp_df,ignore_index=True,sort=False)

In [25]:
merged_df = pd.merge(odds_df, elo_df,  how='outer',left_on=['Surname 1','Surname 2','Tourn','score'],right_on=['Surname 1','Surname 2','Tourn','score'],indicator=True)

In [27]:
merged_df['_merge'].value_counts()

right_only    76321
left_only     11760
both           3022
Name: _merge, dtype: int64

In [29]:
left = merged_df[merged_df['_merge'] == 'left_only']
right = merged_df[merged_df['_merge'] == 'right_only']

In [45]:
def count_non_matches(df1,df2,col):
    pass

odds_df[-odds_df['Surname 1'].isin(elo_df['Surname 1'])]['Surname 1'].value_counts()

NEWTON                      189
BURNETT                      66
RODRIGUEZ ROW.               62
LLOYD                        59
OSBORNE                      55
O'SHEA                       45
DOBEY C                      44
O'CONNOR                     42
OVENS                        42
STOMPE                       39
KELLETT                      37
MONK                         34
PRIESTLEY                    32
ARTUT                        32
ROBSON                       30
HANKEY                       29
DUDBRIDGE                    28
ENGLA                        25
MCDINE                       24
SEYLER                       22
NETHERLAN                    22
HUBBARD                      21
BELGI                        21
HYLTON                       19
ROITH                        18
VAN EIJDEN                   17
HAINES                       17
PRINS                        17
LANGENDORF                   17
BOWLES                       16
                           ...
BRENT                         1
PRINS S.                      1
JONES W.                      1
SPARIDAANS                    1
SAYRE                         1
KUIJTEN                       1
PRUIM                         1
BEZZEG N./ZSOLT               1
DAVIES                        1
HUYBRECHTS K./HUYBRECHTS      1
WILLARD                       1
LATIF SAPUP M.                1
ATTARD                        1
BRENNEMAN                     1
XIE                           1
KATSUYA                       1
LEUNG K.                      1
MCKINSTRY                     1
O'BRIEN                       1
HEAD S.                       1
BECKER                        1
CHEN H.                       1
MERCHANT                      1
KILLINGTON                    1
FRENCH                        1
MILES                         1
QIANG                         1
GILDING A.                    1
ILAGAN L.                     1
GIES                          1
Name: Surname 1, Length: 566, dtype: int64

In [46]:
elo_df[-elo_df['Surname 1'].isin(odds_df['Surname 1'])]['Surname 1'].value_counts()

JOHN RODRIGUEZ    512
O CONNOR          463
DOBEY             255
KRCMAR             69
HADZALI SHAH       34
CHUL PARK          12
Name: Surname 1, dtype: int64